{% extends 'layout.twig' %}

{% block content %}
  <div class="container">
  {% if title_option != "on" %}
    {% if post.title %}
    <h1 id="page-title">
      {{ post.title }}
    </h1>
    {% endif %}
  {% endif %}

  {% for post in posts %}
    {{ function('flexible_content', 'group_component') }}
  {% endfor %}
  </div>
{% endblock %}
